.who-move {
    text-decoration-line: underline;
    text-decoration-color: red;
}

.cricket-text-green {
    color: green;
}

.cricket-text-red {
    color: red;
}

.cricket-3dart {
    height: 50px;
    background-image: url("/img/cricketall100x100.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 50px 50px;
}

.cricket-2dart {
    height: 50px;
    background-image: url("/img/cricket2dart100x100.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 50px 50px;
}

.cricket-1dart {
    height: 50px;
    background-image: url("/img/cricket1dart100x100.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 50px 50px;
}

.currentThrowIcon {
    height: 50px;
    background-image: url("data:image/svg+xml;utf8,<svg width='38' height='44' viewBox='0 0 38 44' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 22L37.5 0.349365V43.6506L0 22Z' fill='%233A760A'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right, center;
    background-size: 50px 50px;
}

.startPlayerIcon {
    height: 12px;
    background-image: url("data:image/svg+xml;utf8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='6' cy='6' r='6' fill='%23FF0000'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 12px 12px;
}

.video-wrap {
    position: relative;
    padding-bottom: 64%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
.video-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
.remoteVideo {
    width: 100%;
    height: auto;
    max-height: 100%;
  }

.videoOverlay {
    /* min-height: 100vh; */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100; 
  }