# Ignore Logs
logs
*.log

# Ignore the build directory
/dist
/data

# Ignore License
LICENSE

# Ignore screenshot
/screenshot


# Ignore preconfigured files
inc/db.php
inc/config.php

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
*.sublime-workspace
inc/db.php
