<?php
$mailConfig = [
    'defaultFrom' => 'r*t@d*28.org', // Ящик с коротого идут письма
    'onError'     => function($error, $message, $transport) { echo $error; },
    'afterSend'   => function($text, $message, $layer) { echo $text; },
    'transports'  => [
        // Сохранение всех писем в папке
        ['file', 'dir'  => dirname(__DIR__, 1) .'/mails'],  
        // Отправка писем через Yandex, используя SSL и авторизацию
        ['smtp', 'host' => 'smtp.yandex.ru', 'ssl' => true, 'port' => '465', 'login' => 'r*t@d*8.org', 'password' => 'пароль'],
    ],
];
